<div class="bg-cover bg-center lg:bg-left z-0 flex justify-center items-center"
     style="background-image: url('<%= vite_asset_path('images/background/profile.jpg') %>')">
  <div class="w-full xl:w-5/12 2xl:w-4/12 lg:w-6/12 md:w-8/12 px-4 mx-auto mt-20 md:pt-0">
    <div class="flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl">
      <div class="px-6">
        <div class="flex flex-wrap justify-center">
          <div class="w-full px-4 flex justify-center">
            <div class="relative">
              <% if @user.avatar.attached? %>
                <%= image_tag(@user.avatar, class: 'rounded-full -mt-8 w-[230px] h-[230px] object-cover', alt: 'Аватарка') %>
              <% else %>
                <%= vite_image_tag 'images/default_avatar.jpg', alt: "Аватарка", class: "rounded-full -mt-8 w-[230px] h-[230px] object-cover" %>
              <% end %>
            </div>
          </div>
          <div class="w-full px-4 text-center mt-20">
            <div class="flex flex-col md:flex-row items-center justify-center py-4 border-t-1 border-b-1 border-gray-300">
              <div class="p-3 text-center">
                <span class="text-xl font-bold block tracking-wide text-gray-700">
                  Подписки
                </span>
                <span class="text-xl text-gray-600">0</span>
              </div>
              <div class="p-3 text-center">
                <span class="text-xl font-bold block tracking-wide text-gray-700">
                  Подписчики
                </span>
                <span class="text-xl text-gray-600">0</span>
              </div>
              <div class="p-3 text-center">
                <span class="text-xl font-bold block tracking-wide text-gray-700">
                  Тренировки
                </span>
                <span class="text-xl text-gray-600"><%= @user.activities.count %></span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-12 pb-[50px]">
          <h3 class="text-2xl font-semibold leading-normal mb-2 text-gray-700 mb-2">
            <%= @user.short_name %>
          </h3>
          <div class="text-gray-700">
            <%= @user.email %>
          </div>

          <% if current_user == @user %>
                      <div class="pt-10">
                        <%= link_to t('links.edit_profile'), edit_user_path(@user), data: { turbo: false }, 
                          class: 'cursor-pointer text-white bg-teal-700 hover:bg-teal-700/75 focus:ring-4 
                          focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-sm w-full sm:w-auto 
                          px-5 py-2.5 text-center' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

