<div class="flex flex-col gap-12">
  <section>
    <%= render 'welcome/landing/header' %>
  </section>
  <section class="grid grid-cols-1 lg:grid-cols-3 gap-4 ml-6 mr-6">
    <%= render 'welcome/landing/create_activity' %>
    <%= render 'welcome/landing/shared_activity' %>
    <%= render 'welcome/landing/planning_competition' %>
  </section>
  <section>
    <%= render 'welcome/landing/additional' %>
  </section>
  <section>
    <%= render 'welcome/landing/about_team' %>
  </section>
  <section>
    <%= render 'welcome/landing/competitions' %>
  </section>
</div>
