<div class="min-h-[300px] w-full md:w-2/3 flex flex-col shadow-xl">
  <div class="flex-grow-[2] flex py-4 pr-4">
    <div class="w-1/5 flex justify-center">
      <div class="flex flex-col gap-4">
        <div>
          <% if activity.user.avatar.attached? %>
            <%= image_tag activity.user.avatar, class: "h-12 sm:h-16 w-12 sm:w-16 rounded-full object-cover object-center", alt: 'Аватарка' %>
          <% else %>
            <%= vite_image_tag 'images/default_avatar.jpg', alt: "#{activity.user.short_name} аватар", class: "h-12 sm:h-16 w-12 sm:w-16 rounded-full object-cover object-center" %>
          <% end %>
        </div>
        <div>
          <%= vite_image_tag 'images/icons/bicycle.png', alt: "bike icon", class: "h-12" %>
        </div>
      </div>
    </div>
    <div class="w-4/5 flex flex-col gap-4">
      <div class="flex justify-between items-start">
        <div class="flex flex-col justify-center gap-3 h-[60px]">
          <div class="font-bold text-gray-800"><%= activity.user.short_name %></div>
          <div class="text-sm"><%= l(activity.start_time, format: :custom) %></div>
        </div>
        <% if policy(activity).edit? %>
          <div class="flex gap-2">
            <%= link_to edit_activity_path(activity), class: "text-blue-600 hover:text-blue-800" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
            <% end %>
            <%= button_to activity_path(activity), method: :delete, data: { turbo_confirm: "Вы уверены, что хотите удалить эту активность?" }, class: "text-red-600 hover:text-red-800" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="flex flex-col justify-center gap-3">
        <div class="font-bold"><%= activity.title %></div>
        <div class="text-sm"><%= activity.description %></div>
      </div>
      <div class="flex justify-start items-start min-h-[100px]">
        <div class="w-[150px] flex flex-col">
          <div class="min-h-[50px] md:min-h-0">Растояние</div>
          <div><%= activity.distance %> км</div>
        </div>
        <div class="w-[150px] flex flex-col border-l border-gray-200 pl-2 pr-2 sm:pl-5 sm:pr-5">
          <div class="min-h-[50px] md:min-h-0">Набор высоты</div>
          <div><%= activity.elevation.ceil %> м</div>
        </div>
        <div class="w-[150px] flex flex-col border-l border-gray-200 pl-2 sm:pl-5">
          <div class="min-h-[50px] md:min-h-0">Время</div>
          <div><%= activity.duration_hours %>ч. <%= activity.duration_minutes %>мин.</div>
        </div>
      </div>
    </div>
  </div>
  <div data-controller="comment-form" id="activity_<%= activity.id %>">
    <div class="flex-grow">
      <%= render 'activities/likes_panel', activity: activity %>
    </div>
    <div id="comments_<%= activity.id %>" class="flex flex-col gap-2 ml-6">
      <%= render activity.comments %>
    </div>

    <div data-comment-form-target="form" class="hidden">
      <%= render "comments/form", activity: activity %>
    </div>
  </div>
</div>
